<launch>

<node pkg="feature_frontend" type="stereocam_node" name="feature" >
    <param name="camera_num_stereo" type="int" value="1"/>
    <rosparam subst_value="True">
        camera0:
            image_topic_left:       /pg_17302082/image_roi
            image_topic_right:      /pg_17533297/image_roi
            cam_config_file_left:   /home/gao/ws/src/vins/config/car_small/cam_left.yaml
            cam_config_file_right:  /home/gao/ws/src/vins/config/car_small/cam_right.yaml
            error_config_left:      /home/gao/ws/src/vins/config/car_small/left_err
            error_config_right:     /home/gao/ws/src/vins/config/car_small/right_err
            feature_config_file:    /home/gao/ws/src/vins/config/car_small/feature.yaml
     </rosparam>
</node>

<!--<node pkg="feature_frontend" type="monocam_node" name="feature"  output="screen">
  <rosparam>
    image_topic:          /pg_17302082/image_roi
    cam_config_file:      /home/gao/ws/src/vins/config/car_small/cam_left.yaml
    error_config_file:    /home/gao/ws/src/vins/config/car_small/left_err
    feature_config_file:  /home/gao/ws/src/vins/config/car_small/feature.yaml
  </rosparam>
</node>-->

<!--<node pkg="feature_frontend" type="monocam_node" name="feature"  output="screen">
  <rosparam>
    image_topic:          /pg_17533297/image_roi
    cam_config_file:      /home/gao/ws/src/vins/config/car_small/cam_right.yaml
    error_config_file:    /home/gao/ws/src/vins/config/car_small/right_err
    feature_config_file:  /home/gao/ws/src/vins/config/car_small/feature.yaml
  </rosparam>
</node>-->

<node ns = "vins" name="vins" pkg="vins_so" type="vins_so" output="screen">
    <param name="vins_folder" type="string" value="/home/gao/ws/src/vins/" />
    <param name="num_of_cam" type="int" value="2" />
    <param name="camera_num_stereo" type="int" value="1"/>
    <rosparam subst_value="True">
        vins_config_file:           /home/gao/ws/src/vins/config/car_small/vins.yaml
        # individual setting for camera 0
        camera0:
            cam_config_file:        /home/gao/ws/src/vins/config/car_small/cam_left.yaml
        camera1:
            cam_config_file:        /home/gao/ws/src/vins/config/car_small/cam_right.yaml
    </rosparam>
</node>




</launch>
