<launch>

<node pkg="feature_frontend" type="stereocam_node" name="feature" >
    <param name="camera_num_stereo" type="int" value="1"/>
    <rosparam subst_value="True">
        camera0:
            image_topic_left:       /cam1/image_raw
            image_topic_right:      /cam0/image_raw
            cam_config_file_left:   /home/gao/ws/src/VINS_mix/config/vi/vins/cam_config_left.yaml
            cam_config_file_right:  /home/gao/ws/src/VINS_mix/config/vi/vins/cam_config_right.yaml
            feature_config_file:    /home/gao/ws/src/VINS_mix/config/vi/vins/feature_config.yaml
     </rosparam>
</node>

<!--<node pkg="feature_frontend" type="monocam_node" name="feature" >
  <rosparam>
    image_topic:          /cam1/image_raw
    cam_config_file:      /home/gao/ws/src/VINS_mix/config/vi/vins/cam_config_left.yaml
    feature_config_file:  /home/gao/ws/src/VINS_mix/config/vi/vins/feature_config.yaml
  </rosparam>
</node>-->

<node ns = "vins" name="vins" pkg="vins_so" type="vins_so" output="screen">
    <param name="vins_folder" type="string" value="/home/gao/ws/src/VINS_mix/" />
    <param name="num_of_cam" type="int" value="2" />
    <param name="camera_num_stereo" type="int" value="1"/>
    <rosparam subst_value="True">
        vins_config_file:           /home/gao/ws/src/VINS_mix/config/vi/vins/vins_config.yaml
        # individual setting for camera 0
        camera0:
            cam_config_file:        /home/gao/ws/src/VINS_mix/config/vi/vins/cam_config_left.yaml
        camera1:
            cam_config_file:        /home/gao/ws/src/VINS_mix/config/vi/vins/cam_config_right.yaml
    </rosparam>
</node>




</launch>
